
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}

     <h5>Profile</h5> 
<div>
    <p>
        Cognizant is an American multinational corporation that provides IT services, including digital, technology, consulting,
        and operations services. It is headquartered in Teaneck, New Jersey, United States. Cognizant is part of the NASDAQ-100
        and trades under CTSH.
    </p>
    <p>
        It was founded as an in-house technology unit of Dun & Bradstreet in 1994,[6] and started serving external clients in 1996.[6]
        After a series of corporate re-organisations there was an initial public offering in 1998.[7]
        Cognizant had a period of fast growth during the 2000s, becoming a Fortune 500 company in 2011.
    </p>
      <h5>History</h5> 
    <p>
        Antara Tech was established by seven engineers in Pune, Maharashtra, India with an initial capital of $250 in 1981.[10] 
        It was registered as Infosys Consultants Private Limited on 2 July 1981.[11] In 1983, 
        it relocated its office to Bangalore, Karnataka, India
    </p>
    <p>
        The company changed its name to Infosys Technologies Private Limited in April 1992 and to Infosys Technologies Limited when 
        it became a public limited company in June 1992.It was later renamed to Infosys Limited in June 2011.
    </p>

</div>


